* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

/* utilities */
.large {
    width: 80%;
    margin: auto;
}

.normal {
    width: 70%;
    margin: auto;
}

.flex {
    display: flex;
    gap: 15px;
}

.flex-col{
    display: flex;
    flex-direction: column;
}
.button-blue{
    font-size: 1.2rem;
    border: 0;
    padding: 10px;
    background-color: #0161ff;
}

.align{
    text-align: center;
}

.align-start{
    text-align: start;
}

.align-end{
    text-align: end;
    padding: 10px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.sixty {
    width: 60%;
}

.fourty {
    width: 40%;
}

.m5{
    margin: 5px;
}

.m-top4{
    margin-top: 40px;
}

.m-top2{
    margin-top: 20px;
}

.w-text{
    color: white;
}

.padding{
    padding: 0 10px;
}

.padding10{
    padding: 10px;
}

.size1{
    font-size: 1rem;
}

.size5{
    font-size: 1.5rem;
}

.size2{
    font-size: 2rem;
}

.blue{
    color: #0161ff;
}

input{
    color: black;
}

header {
    font-size: 1.2rem;
    height: 100px;
}

.fixed{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    padding: 0 10px;
    width: 10%;
    line-height: 100px;
}

.menu {
    width: 70%;
    line-height: 100px;
}

.left {
    width: 50%;
    text-align: start;
}

.right {
    width: 50%;
    text-align: end;
}

.login {
    width: 20%;
    line-height: 100px;
    text-align: center;
}

.jumbo{
    font-size: 1.2rem;
    background-color: lightblue;
}

.card {
    width: calc(100% / 3);
    border: 1px solid grey;
}

.type{
    text-align: center;
    border: 1px solid grey;
    padding: 20px 0;
}

.office {
    width: 100%;
    border: 1px solid grey;
}

.b-white{
    border: 1px solid black;
    background-color: white;
}

.column {
    width: calc(100% / 3);
}

.team {
    
}

.title {
    padding: 20px;
    width: 100%;
}

.square {
    width: calc(100% / 3);

    background-color: green;
    border: 1px solid black;
    height: 150px;
}

.dp-business {
    width: 100%;

    height: 50px;
    border: 1px solid black;
}

.questions {
    margin: auto;

    background-color: aqua;
    height: 200px;
}

footer {
    background-color: black;
    width: 100%;
}

.col-foot {
    width: calc(100% / 5);

    border: 1px solid white;
}