*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* utilities */
.large{
    width: 80%;
    margin: auto;
}

.normal{
    width: 70%;
    margin: auto;
}

.flex{
    display: flex;
}

header{
    display: flex;
    width: 100%;
    /* debug */
    height: 50px;
}

.logo{
    width: 10%;
    background-color: red;
    /* debug */
    height: 50px;
}

.menu{
    width: 70%;
    background-color: grey;
    /* debug */
    height: 50px;
}

.login{
    width: 20%;
    background-color: red;
    /* debug */
    height: 50px;
}

.hero{
    /* debug */
    height: 300px;
    background-color: green;
}

.search-plane{
    /* debug */
    height: 50px;
    background-color: grey;
}

.plane{
    width: calc(100% / 3);
    /* debug */
    background-color: green;
    height: 300px;
    border: 1px solid black;
}